.background-cards {
    background-color: #e9ecef;
}

.font-items {
    font-family: "Delicious Handrawn", cursive;
}

.scrollable-column {
  height: 100%;
  overflow-y: auto;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5% !important; /* Reduce el ancho de los botones laterales */
  opacity: 0 !important;
  transition: opacity 0.3s ease !important;
  pointer-events: none !important; /* para que no interfieran cuando están ocultas */
}

.carousel:hover .carousel-control-prev,
.carousel:hover .carousel-control-next {
  opacity: 1 !important;
  pointer-events: auto !important;
}

.text-justify {
  text-align: justify;
}

.timeline {
  border-left: 4px solid #0d6efd;
  padding-left: 1rem;
  position: relative;
}

.timeline .card {
  position: relative;
}

.timeline .card::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #0d6efd;
  border-radius: 50%;
  position: absolute;
  left: -30px;
  top: 20px;
}

